body{
    font-family: 'Quicksand', sans-serif;;
}
h1{
    color: green;
}
.game{
    align-self: center;
}
#nav{
    background-color: yellow;
}
.box {
    padding: 5px;
    
  }
.wrapper {
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    padding-left: 20px;
    padding-right: 20px;
    
  }
.far_left {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left {
    grid-column: 4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    grid-column: 5;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.right {
    grid-column: 6;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.far_right {
    grid-column: 7;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}